<div class="container mt-5">
    <div class="row my-5">
        <div id="map" style="height: 600px"></div>
    </div>
</div>

<button type="button" id="modalButton" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden></button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="modalCustomer"></p>
          <p id="modalAddress"></p>
          <p id="modalProducts"></p>
          <p id="modalAmount"></p>
          <p id="modalPrice"></p>
          <p id="modalPaymentCompleted"></p>
          <div class="row my-1">
            <button type="button" class="btn btn-success my-1" data-bs-dismiss="modal" (click)="hasAnActiveOrder()">Accept</button>
            <button type="button" class="btn btn-secondary my-1" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
 </div>
