<div class="container mt-5 text-center">
    <h1>Orders:</h1>
    <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Payment method</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.address}}</td>
            <td>{{order.paymentMethod}}</td>
            <td>{{order.totalPrice}}</td>
            <td>
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showModal(order.products, order.amount)">
                Show products
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Products</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="modalProducts"></p>
          <p id="modalAmount"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  