<div class="container mt-5">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-4" *ngFor="let product of products">
                    <div class="card text-bg-light mb-3">
                        <div class="card-body text-center">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">{{product.ingredients}}</p>
                        </div>
                        <div class="card-footer text-center">Price: {{product.price}}$</div>
                        <button type="button" class="btn btn-info" (click)="addProductToCart(product)">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let orderItem of orderItems">
                    <p>Product: {{orderItem.name}}</p>
                    <input class="form-control" type="number" min="1" max="99" [(ngModel)]="orderItem.amount" (ngModelChange)="onAmountChange()">
                    <p>Price: {{orderItem.price}}$</p>
                    <button type="button" class="btn btn-danger" (click)="removeItemFromCart(orderItem)">Remove</button>
                </li>
            </ul>
            <form [formGroup]="orderForm" autocomplete="off">
                <div class="row my-3 align-items-center">
                    <div class="col-2">
                        <label class="form-label">Address</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" formControlName="Address">
                        <label class="text-danger" *ngIf="orderForm.get('Address')?.touched && orderForm.get('Address')?.errors?.['required']">This
                            field is mandatory.</label>
                        <br *ngIf="orderForm.get('Address')?.touched && orderForm.get('Address')?.errors?.['required']"/>
                        <label class="text-danger" id="invalidAddress" hidden>Please enter valid address.</label>
                    </div>
                </div>
                <div class="row my-3 align-items-center">
                    <div class="col-2">
                        <label class="form-label">Payment method:</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select" formControlName="PaymentMethod">
                            <option value="Cash on delivery">Cash on delivery</option>
                            <option value="PayPal">PayPal</option>
                        </select>
                        <label class="text-danger" *ngIf="orderForm.get('PaymentMethod')?.touched && orderForm.get('PaymentMethod')?.errors?.['required']">This
                            field is mandatory.</label>
                    </div>
                </div>
                <div class="row my-3 align-items-center text-center">
                    <b>Total price: {{totalPrice}}$</b>
                </div>
                <hr/>
                <div class="row">
                    <button type="button" class="btn btn-success" [disabled]="orderItems.length == 0 || orderForm.invalid" (click)="createOrder()">Create order</button>
                </div>
            </form>
        </div>
    </div>
</div>
