<form [formGroup]="loginForm" class="mt-5" autocomplete="off">
  
    <div class="row mb-3 align-items-center">
      <div class="col-2">
        <label class="form-label">Email</label>
      </div>
      <div class="col-10">
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="loginForm.get('Email')?.touched && loginForm.get('Email')?.errors?.['required']">This
          field is mandatory.</label>
      </div>
    </div>
  
    <div class="row mb-3 align-items-center">
      <div class="col-2">
        <label class="form-label">Password</label>
      </div>
      <div class="col-10">
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger" *ngIf="loginForm.get('Password')?.touched && loginForm.get('Password')?.errors?.['required']">This
          field is mandatory.</label>
      </div>
    </div>
  
    <div class="row">
      <button type="button" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Log In</button>
    </div>
  
  </form>
  
  <div class="row my-1">
    <asl-google-signin-button>
    </asl-google-signin-button>
  </div>
